# Flutter/Dart specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
**/build/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/.gradle
**/android/captures/
**/android/app/.cxx
**/android/.idea
**/android/app/outputs/

# iOS/XCode related
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/.generated/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# macOS
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/macos/Flutter/ephemeral

# Platform specific
**/linux/flutter/generated_plugin_registrant.cc
**/linux/flutter/generated_plugin_registrant.h
**/linux/flutter/generated_plugins.cmake
**/windows/flutter/generated_plugin_registrant.cc
**/windows/flutter/generated_plugin_registrant.h
**/windows/flutter/generated_plugins.cmake

# Web related
lib/generated_plugin_registrant.dart
web/packages/
web/cache/
web/worker/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Test coverage
coverage/

# System files
.DS_Store
**/.DS_Store
._.DS_Store
**/._.DS_Store
Thumbs.db
**/Thumbs.db

# IDE files
.idea/
.vscode/
**/*.iml
**/*.ipr
**/*.iws
**/.project
**/.classpath
**/.settings/

# JIT/AOT compiler related
**/6a233b46b78ada3a72fe2e767fe87731/

# Flutter version manager
.fvm/flutter_sdk

# Log files
*.log

# Template cache
.cache/

# Native libs
*.so
*.dylib
*.dll
